spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/bookstore?useSSL=false&serverTimezone=Asia/Seoul}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

  flyway:
    enabled: true

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
